[package]
name = "cargo-msrv"
version = "0.13.0"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
description = "Find your minimum supported Rust version (MSRV)!"
license = "Apache-2.0/MIT"
edition = "2018"
repository = "https://github.com/foresterre/cargo-msrv"

[package.metadata]
msrv = "1.53.0"

[dependencies]
# Used for parsing cli arguments.
clap = "2.34.0"

# UI
console = "0.15.0"
indicatif = "0.16.2"

# json output
json = "0.12.4"

# read Cargo.toml
toml_edit = "0.12.3"

dirs = "4.0.0"
tracing = "0.1"
tracing-appender = "0.2"

# building package graphs, consider moving to guppy once rust_version is supported
cargo_metadata = "0.14.1"
petgraph = "0.6.0"
comfy-table = "4.1.1"

once_cell = "1.9.0"
thiserror = "1.0.30"

[dependencies.tracing-subscriber]
version = "0.3"
features = ["json"]

# Get the available rust versions
[dependencies.rust-releases]
version = "0.21.1"
default-features = false
features = ["rust-releases-rust-changelog", "rust-releases-rust-dist"]

[dev-dependencies]
parameterized = "0.3.1"
yare = "1.0.1"

