[package]
name = "cargo-msrv"
version = "0.7.0"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
description = "Find your minimum supported Rust version (MSRV)!"
license = "Apache-2.0/MIT"
edition = "2018"
repository = "https://github.com/foresterre/cargo-msrv"

[package.metadata]
msrv = "1.42.0"

[dependencies]
# Used for parsing cli arguments.
clap = "2.33.0"

# UI
console = "0.14.1"
indicatif = "0.16.2"

# json output
json = "0.12.4"

# read Cargo.toml
decent-toml-rs-alternative = "0.3.0"

# Get the available rust versions
[dependencies.rust-releases]
version = "0.15.4"
default-features = false
features = ["rust-releases-rust-changelog"]

[dev-dependencies]
parameterized = "0.3.1"
yare = "1.0.1"

[[bin]]
name = "cargo-msrv"
path = "src/bin/cargo-msrv.rs"
