[package]
name = "cargo-msrv"
version = "0.16.0-beta.14"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
description = "Find your minimum supported Rust version (MSRV)!"
license = "Apache-2.0 OR MIT"
edition = "2018"
repository = "https://github.com/foresterre/cargo-msrv"
rust-version = "1.64"

keywords = ["msrv", "rust-version", "toolchain", "find", "minimum"]
categories = ["development-tools", "development-tools::cargo-plugins", "command-line-utilities"]

build = "build.rs"

exclude = ["/design"]

[package.metadata.release]
tag-name = "v{{version}}"

[dependencies]
bisector = "0.4.0" # bisection with a custom comparator
camino = "1.1" # utf-8 paths
cargo_metadata = "0.15.4" # resolving Cargo manifest metadata (consider `guppy`!)
clap = { version = "4.3.21", features = ["derive"] } # parse CLI arguments
dirs = "5.0.1" # common directories
indicatif = "=0.17.6" # UI
once_cell = "1.18.0" # lazy data structures and thunking
owo-colors = "3.5.0" # color support for the terminal
petgraph = "0.6.3" # graph data structures
rust-releases = { version = "0.26.0", default-features = false, features = ["rust-changelog"]  } # get the available rust versions
serde = { version = "1.0", features = ["derive"] } # serialization and deserialization
serde_json = "1.0.105"  # JSON serialization and deserialization
storyteller = "0.8.1" # minimal multi user output architecture
tabled = { version = "0.10.0", features = ["color"] } # pretty print tables
terminal_size = "0.2.6" # determine the terminal size
thiserror = "1.0.46" # error handling
toml_edit = "0.19.11" # read and write the Cargo.toml
tracing = "0.1" # tracing
tracing-appender = "0.2" # tracing
tracing-subscriber = { version = "0.3", features = ["json"] }

[features]
default = ["rust-releases-dist-source"]
rust-releases-dist-source = ["rust-releases/rust-dist"]

[dev-dependencies]
parameterized = "1.0.1"
yare = "1.0.2"
phenomenon = "~1.0.0"
test_dir = "0.2.0"

[build-dependencies]
vergen = { version = "8.2.1", default-features = false, features = ["build", "cargo", "git", "gitcl", "rustc"] }

[profile.release]
lto = true
codegen-units = 1
