[package]
name = "cargo-msrv"
version = "0.3.0"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
description = "Assists with finding your minimum supported Rust version (MSRV)"
license = "Apache-2.0/MIT"
edition = "2018"
repository = "https://github.com/foresterre/cargo-msrv"

[dependencies]
# Used for parsing cli arguments.
clap = "2.33.0"

# Get the available rust versions
rust-releases = "0.6"

# UI
console = "0.14.0"
indicatif = "0.15.0"

[[bin]]
name = "cargo-msrv"
path = "src/bin/cargo-msrv.rs"
