[package]
name = "cargo-msrv"
version = "0.15.1"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
description = "Find your minimum supported Rust version (MSRV)!"
license = "Apache-2.0/MIT"
edition = "2018"
repository = "https://github.com/foresterre/cargo-msrv"
rust-version = "1.60"

keywords = ["msrv", "rust-version", "toolchain", "find", "minimum"]
categories = ["development-tools", "development-tools::cargo-plugins", "command-line-utilities"]

build = "build.rs"

[features]
default = ["rust-releases-dist-source"]
rust-releases-dist-source = ["rust-releases/rust-releases-rust-dist"]

[package.metadata.release]
tag-name = "v{{version}}"

[dependencies]
# Used for parsing cli arguments.
clap = { version = "3.2.7", features = ["derive"] }

# UI
indicatif = "0.17.0-rc.11"

# json output
json = "0.12.4" # todo: replace all with serde_json!

# read Cargo.toml
toml_edit = "0.14.4"

dirs = "4.0.0"
tracing = "0.1"
tracing-appender = "0.2"

# building package graphs, consider moving to guppy once rust_version is supported
cargo_metadata = "0.15.0"
petgraph = "0.6.2"

once_cell = "1.12.0"
thiserror = "1.0.31"

bisector = "0.4.0"

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.81"

owo-colors = "3.4.0"

term_size = "1.0.0-beta.2"

[dependencies.tabled]
version = "0.7.0"
features = ["color"]

[dependencies.storyteller]
version = "~0.6.1"

[dependencies.tracing-subscriber]
version = "0.3"
features = ["json"]

# Get the available rust versions
[dependencies.rust-releases]
version = "0.22.0"
default-features = false
features = ["rust-releases-rust-changelog"]

[dependencies.cargo-msrv-events]
path = "crates/events"

[dependencies.cargo-msrv-types]
path = "crates/types"

[dev-dependencies]
parameterized = "0.3.1"
yare = "1.0.1"
phenomenon = "~1.0.0"

[build-dependencies]
vergen = { version = "7.2.0", default-features = false, features = ["build", "cargo", "git", "rustc"] }

[workspace]
members = ["crates/events", "crates/types"]