[package]
name = "cargo-msrv"
version = "0.15.1"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
description = "Find your minimum supported Rust version (MSRV)!"
license = "Apache-2.0/MIT"
edition = "2018"
repository = "https://github.com/foresterre/cargo-msrv"
rust-version = "1.59"

keywords = ["msrv", "rust-version", "toolchain", "find", "minimum"]
categories = ["development-tools", "development-tools::cargo-plugins", "command-line-utilities"]

[features]
default = ["rust-releases-dist-source"]
rust-releases-dist-source = ["rust-releases/rust-releases-rust-dist"]



[package.metadata.release]
tag-name = "v{{version}}"

[dependencies]
# Used for parsing cli arguments.
clap = { version = "3.2.8", features = ["derive"] }

# UI
console = "0.15.0"
indicatif = "0.16.2"

# json output
json = "0.12.4"

# read Cargo.toml
toml_edit = "0.14.4"

dirs = "4.0.0"
tracing = "0.1"
tracing-appender = "0.2"

# building package graphs, consider moving to guppy once rust_version is supported
cargo_metadata = "0.15.0"
petgraph = "0.6.2"
comfy-table = "5.0.1"

once_cell = "1.12.0"
thiserror = "1.0.31"

bisector = "0.4.0"

[dependencies.tracing-subscriber]
version = "0.3"
features = ["json"]

# Get the available rust versions
[dependencies.rust-releases]
version = "0.22.0"
default-features = false
features = ["rust-releases-rust-changelog"]

[dev-dependencies]
parameterized = "0.3.1"
yare = "1.0.1"

