[package]
name = "cargo-msrv"
version = "0.16.0-beta.5"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
description = "Find your minimum supported Rust version (MSRV)!"
license = "Apache-2.0 OR MIT"
edition = "2018"
repository = "https://github.com/foresterre/cargo-msrv"
rust-version = "1.64"

keywords = ["msrv", "rust-version", "toolchain", "find", "minimum"]
categories = ["development-tools", "development-tools::cargo-plugins", "command-line-utilities"]

build = "build.rs"


[features]
default = ["rust-releases-dist-source"]
rust-releases-dist-source = ["rust-releases/rust-releases-rust-dist"]



[package.metadata.release]
tag-name = "v{{version}}"

[dependencies]
# Used for parsing cli arguments.
clap = { version = "4.1.4", features = ["derive"] }

# UI
indicatif = "0.17.2"

# read Cargo.toml
toml_edit = "0.19.1"

dirs = "4.0.0"
tracing = "0.1"
tracing-appender = "0.2"

# building package graphs, consider moving to guppy once rust_version is supported
cargo_metadata = "0.15.3"
petgraph = "0.6.2"

once_cell = "1.17.0"
thiserror = "1.0.37"

bisector = "0.4.0"

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.89"

owo-colors = "3.5.0"

terminal_size = "0.2.3"

[dependencies.tabled]
version = "0.8.0"
features = ["color"]

[dependencies.storyteller]
version = "0.8.0"

[dependencies.tracing-subscriber]
version = "0.3"
features = ["json"]

# Get the available rust versions
[dependencies.rust-releases]
version = "0.22.2"
default-features = false
features = ["rust-releases-rust-changelog"]

[dev-dependencies]
parameterized = "1.0.1"
yare = "1.0.2"
phenomenon = "~1.0.0"
test_dir = "0.2.0"

[build-dependencies]
vergen = { version = "7.5.0", default-features = false, features = ["build", "cargo", "git", "rustc"] }

[profile.release]
lto = true
codegen-units = 1
