name: "ci-book"
on:
  push:
    branches: [main]
  pull_request:
jobs:
  book:
    name: build-and-publish-book
    runs-on: ubuntu-latest
    steps:
      - name: checkout_repository
        uses: actions/checkout@v3

      - name: setup_mdbook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: '0.4.13'

      - name: build_mdbook
        run: cd book && mdbook build -d ../output

      - name: deploy_mdbook
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
